.lyric-panel {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.lyric-panel:focus {
    outline: none;
}

.lyric-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    background-color: rgba(var(--semi-grey-1), 1);
}

.lyric-toolbar>*:not(:last-child) {
    margin-right: 10px;
}