.single-word {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.single-word>* {
    border: 1px solid;
    box-sizing: border-box;
}

.line-break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.single-word .upper {
    height: 1.1em;
    line-height: 1.1em;
    font-size: 0.8em;
    display: flex;
}

.single-word .upper>* {
    border: 1px solid;
    box-sizing: border-box;
}

.single-word.empty {
    min-width: 30px;
}

.single-word .middle {
    height: 1.2em;
    line-height: 1.2em;
    font-size: 2em;
}

.single-word .middle.selected {
    background-color: aqua;
}

.single-word .lower {
    display: flex;
    height: 20px;
}

.single-word .lower .timetag:not(:first-child) {
    margin-left: -0.44em;
}

.single-word .lower .stoptag {
    margin-left: auto;
}